html {
    font-size: 15px;
    /* font-family: "Roboto", sans-serif; */
    font-family: "Montserrat", sans-serif;
}

nav {
    height: 15px;
    width: 0 auto;
    padding: 2em 1em;
    background-color: rgb(251, 246, 246);
}

body {
    background-color: rgb(255, 255, 255);
}

span {
    color: blue;
}

img {
    max-width: 30%;
    height: auto;
}

/* <!-- section1 first pic and text section --> */

.section1 #pic1 {
    position: relative;
    left: 800px;
    bottom: 200px;
}

#pic1 {
    margin: 0 auto;
    width: 100%;
    height: 100px;
    /* grid below this line */

    /* display: flex; */
}

.pic-section1 {
    width: 700px;
}

/* #pic-section1-paragraph {
    width: 500px;
} */

#group-pic-1 {
    margin: 0 auto;
    width: 90%;
    height: 500%;
    border: 4px;
    display: inline-grid;
}

.features span {
    color: rgb(255, 200, 0);
}

/* #features-paragraph {
    margin-left: 200em;
    margin-right: 800em;
} */

.pic_section2 span {
    color: rgb(255, 200, 0);
}

#pic-section2-paragraph {
    margin-left: 800px;
}

.Pic_section3 span {
    color: rgb(255, 200, 0);
}

#pic-section3-paragraph {
    width: 700px;
}

#pic-section4-paragraph {
    width: 700px;
}

.about {
    text-align: center;
    background-color: rgb(251, 246, 246);
    margin-left: 200px;
    margin-right: 300px;
}

.about span {
    color: rgb(255, 200, 0);
}

h2 {
    color: blue;
}

.features {
    text-align: center;
    margin: auto;
    /* margin-left: 300px;
    margin-right: 700px; */
}
.services {
    text-align: center;
    margin: auto;
    /* margin-left: 300px;
    margin-right: 700px; */
}
.services span {
    color: rgb(255, 200, 0);
}

/* .footer {
    text-align: center;
} */

button {
    background-color: orange;
    color: #000000;
    border: none;
    padding: 0.5em 1em;
    font-size: 0.9em;
    font-weight: bold;
    transition: color 0.22s, border-color 0.25s, box-shadow 0.25s,
        transform 0.25s;
    border-radius: 10%;
}

button:hover {
    border-color: #f1ff5c;
    color: rgb(247, 247, 247);
    box-shadow: 0 0.5em 0.5em -0.4em #d9e833;
    transform: translateX(0.75em);
    cursor: pointer;
}

/* .photo_section {
    height: 700px;
    width: 80%;
    margin: auto;
    background-image: url(https://images.unsplash.com/photo-1622675363311-3e1904dc1885?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
} */
