html {
    font-size: 15px;
}
body {
    background-color: rgb(255, 255, 255);
}
/* .photo_section {
    height: 700px;
    width: 80%;
    margin: auto;
    background-image: url(https://images.unsplash.com/photo-1622675363311-3e1904dc1885?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80);
} */
